<!-- Steven -->
<!-- <div class="row">
  <div class="col-md-2">
    <div class="">
      <nav class="">
        <ul class="">
          <% while (@n < @archive.length) %>
            <% @archive.each do |post| %>
              <li><a href="/c/<%= @archive[@n] %>"><%= post %></a></li>
              <%end %>
              <% @n += 1 %>
            
          <%end %>
          <% @n = 0 %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-md-10">
    <article class="">
      <% @post.each do |post,hash| %>
          <a href="/p/<%= post %>"><div class="catDivs" style="background-image:url(<%= hash[:image] %>)"><div class="prodName"> <%= hash[:name] %> </div></div></a>
      <% end %>
    </article>
  </div>
</div>

 -->




<!-- <h1>Send email to a hacker</h1>
<form method="POST" action="/email">
		<label for="title">Subject</label>
		<input type="text" name="[email]subject">
		<br>
		<label for="text">Content</label>
		<textarea name="[emails]content"></textarea>
		<input type="submit">
</form> --> --> 