<div class="row">
		<div id="months" class="col-md-1">
			<div class="row">
				<a href="/archive"><h5>Blog Archive</h5></a>
			</div>
			<div class="row">
				<a href="/archive/july"><h5>July</h5></a>
			</div>
			<div class="row">
				<a href="/archive/august"><h5>Aug</h5></a>
			</div>
			<div class="row">
				<a href="/archive/september"><h5>Sep</h5></a>
			</div>
			<div class="row">
				<a href="/archive/october"><h5>Oct</h5></a>
			</div>
		</div>
		<div id="feed" class="col-md-8">
			<div class="container">
				<div class="row shade">
					<div class="col-md-6">
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[0].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[0].id%>">
									<p><%= @posts[0].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[1].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[1].id%>">
									<p><%= @posts[1].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[2].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[2].id%>">
									<p><%= @posts[2].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[3].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[3].id%>">
									<p><%= @posts[3].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[4].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[4].id%>">
									<p><%= @posts[4].content %></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-5">
								<h5><%= @posts[5].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[5].id%>">
									<p><%= @posts[5].content %></p>
								</a>
							</div>
					</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[6].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[6].id%>">
									<p><%= @posts[6].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[7].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[7].id%>">
									<p><%= @posts[7].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[8].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[8].id%>">
									<p><%= @posts[8].content %></p>
								</a>
							</div>
						</div>
						<div class="row posts">
							<div class="col-md-5">
								<h5><%= @posts[9].title %></h5>
							</div>
							<div class="col-md-7">
								<a href="/post/<%@posts[9].id%>">
									<p><%= @posts[9].content %></p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sponsors" class="col-md-2">
		<div class="row">
				<a href="/sponsor1"><h5>Sponsor1</h5></a>
			</div>
			<div class="row">
				<a href="/sponsor2"><h5>Sponsor2</h5></a>
			</div>
			<div class="row">
				<a href="/sponsor3"><h5>Sponsor3</h5></a>
			</div>
		</div>
</div>