<div class="row">
		<!-- <div id="months" class="col-md-1">
			<div class="row">
				<a href="/archive"><h5>Blog Archive</h5></a>
			</div>
			<div class="row">
				<a href="/archive/july"><h5>July</h5></a>
			</div>
			<div class="row">
				<a href="/archive/august"><h5>Aug</h5></a>
			</div>
			<div class="row">
				<a href="/archive/september"><h5>Sep</h5></a>
			</div>
			<div class="row">
				<a href="/archive/october"><h5>Oct</h5></a>
			</div>
		</div> -->
		<div id="feed" class="col-md-9">
			<div class="container">
				<div class="row shade">
					<div class="col-md-6">
						<% for i in 0..4 %>
							<div class="posts">
							<a href="/post/<%= @posts[i].id %>">
							 <h5><%= @posts[i].title %></h5>
							 <p><%= @posts[i].content %></p>
							 </a>
							 </div>
						<% end %>
					</div>
					<div class="col-md-6">
						<% for i in 5..9 %>
							<div class="posts">
							<a href="/post/<%= @posts[i].id %>">
							 <h5><%= @posts[i].title %></h5>
							 <p><%= @posts[i].content %></p>
							 </a>
							 </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div id="sponsors" class="col-md-2">
		<div class="row">
				<a href="/sponsor1"><h5>Sponsor1</h5></a>
			</div>
			<div class="row">
				<a href="/sponsor2"><h5>Sponsor2</h5></a>
			</div>
			<div class="row">
				<a href="/sponsor3"><h5>Sponsor3</h5></a>
			</div>
		</div>
</div>