<div class="row">
		<div id="feed" class="col-md-9">
			<div class="container">
				<div class="row shade">
					<div class="col-md-6">
						<% for i in 0..4 %>
							<div class="posts">
							<a href="/post/<%= @posts[i].id %>">
							 <h5><%= @posts[i].title %></h5>
							 <p><%= @posts[i].content %></p>
							 </a>
							 </div>
						<% end %>
					</div>
					<div class="col-md-6">
						<% for i in 5..9 %>
							<div class="posts">
							<a href="/post/<%= @posts[i].id %>">
							 <h5><%= @posts[i].title %></h5>
							 <p><%= @posts[i].content %></p>
							 </a>
							 </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div id="userlist" class="col-md-2">
			<div class="row">
				<% @users.each do |user| %>
		   			<article class="userlist"><a href="/user/<%= user.id %>">
		   			<h5><%= user.username %></h5>
	   			</a></article>
	   			<% end %>
			</div>
		</div>
</div>